<div class="row">
	<div class="col-md-12 background-image">
		<div class="header">Geschichte</div>
		<div class="year">{{model.year}}</div>
		<div class="title">{{model.title}}</div>
		<div class="text">
			{{{model.text}}}
		</div>
	</div>
</div>
{{yield}}
