/* HEADER */

body {
	background-color: black;
}

header {
	height: 130px;
}



.logo {

	background-image: url('/assets/images/logo_white.png');
	background-size: contain;
	background-repeat: no-repeat;
	display: inline-block;
}

.nav-element {
	color: white;
	text-align: center;
}



header .nav-element {
	height: 30px;
	padding-top: 5px;
	line-height: 20px;
	font-size: 16px;
}

header .logo {
	margin-top: 20px;
	margin-left: 100px;
	height: 90px;
	width: 222px;
}


footer {
	margin-top: 40px;
}


footer .logo {
	margin-top: 20px;
	margin-left: 100px;
	height: 45px;
	width: 111px;
}

footer .nav-element {
	height: 30px;
	padding-top: 5px;
	line-height: 20px;
	font-size: 16px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	header .nav-element {
		height: 90px;
		padding-top: 30px;
		line-height: 30px;
		font-size: 16px;
	}

	footer .nav-element {
		height: 45px;
		padding-top: 2.5px;
		line-height: 20px;
		font-size: 8px;
	}
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
	header .nav-element {
		height: 90px;
		padding-top: 30px;
		line-height: 30px;
		font-size: 20px;
	}

		footer .nav-element {
		height: 45px;
		padding-top: 18.5px;
		line-height: 20px;
		font-size: 12px;
	}
}



/* Content Wrapper */

.content-wrapper {
	background-color: white;
	/*border-radius: 25px;*/
	padding: 25px;
}

/* index */
.index-breaker {
	height: 100px;
}

.index-gallery {
	position: relative;
}

.index-gallery .action {
	position: absolute;
	height: 100%;
	width: 120px;
	top: 0;
	display:flex;
	justify-content:center;
	align-items:center;
}

.index-gallery .action:hover {
	/*background-color: rgba(0,0,0,0.5);*/
	cursor: pointer;
}

.index-gallery .action .arrow {
	display: none;
	color: blue;
	font-size: 64px;
}

.index-gallery .action:hover .arrow{
	display: block;
}

.index-gallery .prev {
	left: 0;
}

.index-gallery .next {
	right: 0;
}

.index-aboutus {
	margin-left: 50px;
	width: 245px;
}

.index-sponsor {
	margin-left: 150px;
	width: 300px;
}

.index-ttb .title {
	font-size: 30px;
    text-align: left;
    margin-top: 20px;
}

.index-ttb .text {
	font-size: 22px;
	margin-top: 20px;
}

.index-ttb .dkz-button {
	margin-top: 30px;
}

.index-sponsor-list {
	margin-top: 80px;
}

.index-sponsor-list .img {
	height: 75px;
    background-size: contain;
    background-repeat: no-repeat;
}






/* post-item Component */
posit {
	position: relative;
	display: block;
}

posit.collapsed-post {
	max-height: 300px;
	overflow: hidden;
	cursor: pointer;
}

posit.collapsed-post img {
	display: none;
}

posit .fade-out {
	position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

posit .fade-out .read-more {
	margin-top: 10%;
}

posit .author {
	position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
}

/* play-preview Component */
playpre .title {
	font-size: 40px;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: -0.5px;
}

playpre .separate {
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
	border-top: 7px solid black;
}

playpre .year {
	font-size: 30px;

}

playpre .info {

}

playpre .subtitle {
	font-size: 20px;
	margin-bottom: 20px;
}

playpre .description {
	font-size: 22px;
}

playpre .image {
	height: 300px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
}


/* history-preview Component */

histpre .header {
	font-size: 30px;
	color: white;
    text-align: center;
    margin-top: 20px;
}


histpre .title {
	font-size: 30px;
	line-height: 34px;
	letter-spacing: -0.5px;
	color: white;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: bold;
}

histpre .year {
	font-size: 30px;
	color: white;
    text-align: center;
    margin-top: 30px;

}

histpre .text {
	font-size: 21px;
	line-height: 23px;
	margin-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color: white;
}

histpre .background-image {
	background-image: url('/assets/images/history_back.png');
	background-size: cover;
	background-repeat: no-repeat;
	height: 450px;
}

/* postcard-form Component */
.postcard-form {
	background-image: url('/assets/images/postcard.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	position: relative;
}

.postcard-form .welcome {
	padding-top: 5%;
    padding-left: 6%;
    padding-right: 20%;
    font-size: 20px;
}

.postcard-form .message {
	margin-top: 5%;
	margin-left: 6%;
	background-color: transparent;
    border: none;
}

.postcard-form .text-input {
	margin-top: 5px;
	display: block;
    line-height: 30px;
    margin-left: 6%;
    width: 38.3%;
    background-color: transparent;
    border: none;
}

.postcard-form .send-button {
	margin-left: 6%;
	margin-top: 5px;
	line-height: 30px;
	width: 38.3%;
	color: black;
}

.postcard-form .notification-text {
	position: absolute;
    top: 50%;
    width: 100%;
    line-height: 50px;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    font-size: 40px;
    color: white;
}




/* DKZ Elements */

.dkz-button {
	width: 100%;
    line-height: 35px;
    background-color: white;
    color: black;
    border: 1px solid black;
}

/* ADMIN */


.image-preview {
	height: 150px;
    width: 150px;
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.image-preview-input {
	width: 96%;
	margin: 2%;
}









/* TEMP */

.work-in-progress {
	margin-bottom: 15px;
}

.work-in-progress div div {
	background-color: #E4BC43;
}

.temp-footer {
	margin-top: 15px;
    margin-bottom: 30px;
}

.temp-footer div div {
	color: white;
    font-size: 20px;
    text-align: center;
}

.temp-footer div div a {
	color: white;
}

.temp-footer div div a:hover {
	text-decoration: none;
}