<h1>Über den Verein</h1>

<p>„Die Kulisse Zug“ ist ein Laientheaterverein, der seit 57 Jahren das Zuger Kulturleben mit aussergewöhnlichen Theateraufführungen belebt. Diese Tradition wollen wir weiterführen.</p>

<p>Die Aktivitäten unseres kleinen, aber feinen Vereins bestehen hauptsächlich in der Vorbereitung und Abwicklung von regelmässigen Theaterproduktionen, die meistens im Theater im Burgbachkeller in Zug aufgeführt werden.</p>

<p>Damit wir als LaienschauspielerInnen das Beste aus uns herausbringen, engagieren wir jeweils professionelle RegisseurInnen. In dieser Zusammenarbeit wollen wir offen sein für Neues, Unbekanntes und Ungewohntes. Je nach Bedarf ziehen wir weitere professionelle Unterstützung bei für Bühnenbild, Kostüme, Musik, Technik, Übersetzungen, etc. Die Kulisse ist auch offen für Menschen, die sich im Verein als HelferInnen um Umfeld oder auf der Bühne engagieren möchten. Wir bemühen uns, für alle eine Aufgabe oder Funktion zu finden, die ihren Fähigkeiten und Erfahrungen entspricht.</p>

<p>Mit unseren Theaterproduktionen wollen wir erfolgreich sein, indem wir kulturell interessierten Menschen aus der Umgebung mit anspruchsvollen Theaterstücken die grossen und kleinen Fragen des Lebens stellen.</p>

<p>Für dieses kulturelle Engagement leisten Mitglieder und Freunde der Kulisse viel untentgeltliche Arbeit. Trotzdem sind wir auf die finanzielle Unterstützung von Firmen, Privatpersonen und der öffentlichen Hand angewiesen. Diese Unterstützung wollen wir hauptsächlich mit einem substanziellen Beitrag ans Zuger Kulturleben entschädigen. Die konkreten Unterstützungsmöglichkeiten und die entsprechenden Gegenleistungen der Kulisse sind in einem separaten Unterstützungskonzept fest gehalten.</p>

<p>Für dieses kulturelle Engagement leisten Mitglieder und Freunde der Kulisse viel unentgeltliche Arbeit.</p>

<p>Die Kulisse unterhält zusammen mit den Zuger Spiillüüt im Kulturhaus Gewürzmühle zwei Proberäume, die über den „Verein Kulturhaus Gewürzmühle“ <a href="http://www.gewuerzmuehle.ch">(www.gewuerzmuehle.ch)</a> auch für andere Kulturtäter zu günstigen Konditionen zur Verfügung stehen.</p>

{{outlet}}
