<!-- Cheap shot. TODO: use container and columns for header -->
<header>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-xs-12">
				{{#link-to 'index'}}<div class="logo"></div>{{/link-to}}
			</div>
			{{#link-to 'plays'}}<div class="nav-element col-md-2 col-sm-2 col-xs-12">Produktionen im Überblick</div>{{/link-to}}
			{{#link-to 'aboutus'}}<div class="nav-element col-md-2 col-sm-2 col-xs-12">Alles zur Kulisse Zug</div>{{/link-to}}
			{{#link-to 'sponsor'}}<div class="nav-element col-md-2 col-sm-2 col-xs-12">Gönner und Sponsoren</div>{{/link-to}}
		</div>
	</div>
</header>

<div class="container work-in-progress">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
		Wir bauen gerade unsere Website um und bitten um Verständnis, wenn noch nicht alles Funktioniert bzw. Abrufbar ist. Herzlichen Dank Die Kulisse Zug. Anregungen und Feedback bitte an <a href="mailto:admin@diekulissezug.ch" target="_blank">admin@diekulissezug.ch</a>
		</div>
	</div>
</div>


<div class="container content-wrapper">
	{{outlet}}
</div>

<div class="container temp-footer">
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			Die Kulisse Zug - <a href="mailto:info@diekulissezug.ch" target="_blank">info@diekulissezug.ch</a> - <a href="https://www.facebook.com/diekulissezug" target="_blank">Facebook</a>
		</div>
	</div>
</div>

<!--<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-4 col-xs-12 col-md-offset-2 cold-sm-offset-2">
				{{#link-to 'index'}}<div class="logo"></div>{{/link-to}}
			</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Produktionen im Überblick</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Alles zur Kulisse Zug</div>
			<div class="nav-element col-md-1 col-sm-1 col-xs-12">Gönner und Sponsoren</div>
		</div>
	</div>
</footer>-->
