<!-- Cheap shot. TODO: use container and columns for header -->
<header>
	<div class="header-logo"></div>

	<ul>
		<li>Produktionen im Überblick</li>
		<li>Alles zur Kulisse Zug</li>
		<li>Gönner und Sponsoren</li>
	</ul>
</header>


<div class="container">

{{outlet}}

</div>
